$color-primary: #0ca678;
$color-tint-1: #e6fcf5;
$color-tint-2: #087f5b;
$color-tint-3: #31413c;
$color-tint-4: #c3fae8;
$color-tint-5: #3e524c;

$color-error-1: #ffa8a8;

$color-grey-light-0: #f1f3f5;
$color-grey-light-1: #adb5bd;
$color-grey-light-2: #868e96;
$color-grey-dark-1: #343a40;

$border-radius-default: 5px;
$border-radius-medium: 9px;

$font-family-default: 'Rubik', sans-serif;

$bp-medium: 60em; // 960px
$bp-small: 53.75em; // 860px
$bp-smallest: 31.25em; // 500px

@mixin viewportCenter {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-grey-light-0;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 9px 1px $color-primary;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include scrollbar();
}

body {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $color-grey-dark-1;
  background-color: $color-tint-1;

  height: 100vh;

  @include scrollbar();
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8.4rem 1fr;
  justify-content: center;
  align-items: center;

  height: 100%;

  main {
    max-width: 90rem;
    width: 100%;
    justify-self: center;
    align-items: center;
  }
}

p {
  line-height: 1.4;
}

.link-btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: $color-tint-1;
    background-color: $color-primary;
    border-radius: 3px;
  }
  &:active,
  &:hover {
    background-color: $color-tint-2;
  }
}

.heading-primary {
  font-size: 6.2rem;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 400;
  color: $color-grey-dark-1;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 2.6rem;
  }
}

.hidden {
  display: none;
}
