//////////////////////////////////////////
/// GENERAL CALC

.calc-container {
  padding: 3.2rem 3.2rem 6.4rem;

  @media only screen and (max-width: $bp-smallest) {
    padding: 1.6rem 1.6rem 2.4rem;
  }
}

.calc {
  height: 48rem;
  max-width: 120rem;
  background-color: #fff;
  box-shadow: 0px 0px 31px 5px rgba(161, 161, 161, 0.102);
  border-radius: $border-radius-medium;

  display: flex;
  flex-direction: column;
  justify-content: center;

  letter-spacing: 0.03rem;

  @media only screen and (max-width: $bp-small) {
    max-width: 40rem;
    margin: 0 auto;
  }
}

//////////////////////////////////////////
///  CALC
//////////////////////////////////////////

.input-summary-view {
  display: grid;
  grid-template-columns: 5fr 5.5fr;
  gap: 6.4rem;
  padding: 2.4rem 3.2rem;
  flex: 1;

  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 1.6rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

.input-amount input,
.input-date input,
.input-btn span,
.btn--form {
  border-radius: $border-radius-default;
}

//////////////////////////////////////////
/// AMOUNT INVESTED & DATE

.input-amount,
.input-date {
  label {
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  input {
    width: 100%;
    height: 3.2rem;
    font-size: 1.6rem;
    text-align: right;
    padding: 0 1.2rem;
    border: none;
    background-color: $color-tint-1;
    font-family: $font-family-default;
    letter-spacing: 0.05rem;
    color: $color-grey-dark-1;

    transition: all 0.2s;

    &::placeholder {
      color: $color-grey-light-2;
    }
  }
}

.input-amount {
  input {
    font-size: 1.7rem;
  }
}

.available {
  font-size: 1.3rem;
  color: $color-grey-light-2;
}

.input-amount .error,
.input-date .error {
  background-color: $color-error-1;
}

.input-date label {
  .oldest-date {
    display: inline-block;
    width: 7.05rem;
    text-align: right;
  }
}

.input-date {
  padding-top: 1rem;
}

//////////////////////////////////////////
/// CRYPTO & INTERVAL BUTTONS

.input-btn {
  .label-btn {
    display: block;
    margin-bottom: 0.8rem;
    line-height: 1;
  }

  .flex-btn {
    display: flex;
    justify-content: space-between;

    label:hover input ~ span {
      // color: #fff;
      // background-color: $color-tint-4;
      box-shadow: 0px 1px 6px 1px rgba(161, 161, 161, 0.7);
    }

    label input:checked ~ span {
      color: $color-tint-1;
      background-color: $color-primary;
    }

    input {
      position: absolute;
      opacity: 0;

      height: 0;
      width: 0;
    }

    span {
      height: 3.2rem;
      background-color: $color-tint-1;
      cursor: pointer;
      color: $color-grey-dark-1;
      // text-transform: lowercase;
      // font-size: 1.6rem;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s;
    }
  }
}

.input-btn--crypto {
  label {
    width: 23%;
    // min-width: 4.8rem;
  }
}

.input-btn--interval {
  label {
    width: 31%;
    // min-width: 8.2rem;
  }
}

///////////////////////////////////////////////
/// SUBMIT BUTTON

.btn--form {
  font-family: $font-family-default;
  color: $color-tint-1;
  font-size: 1.6rem;
  font-weight: 600;
  height: 3.6rem;
  width: 30%;
  margin-top: 0.8rem;

  // box-shadow: 0px 0px 31px 5px rgba(161, 161, 161, 0.209);
  background-color: $color-primary;
  border: none;
  align-self: center;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    // background-color: $color-tint-5;
    box-shadow: 0px 1px 3px 2px rgba(120, 120, 120, 0.9);
  }
}

///////////////////////////////////////////////
/// SUMMARY

.summary {
  height: 100%;
  width: 100%;
  padding: 3.2rem 2.4rem;
  letter-spacing: 0.05rem;

  color: $color-tint-1;
  background-color: $color-tint-3;
  border-radius: $border-radius-medium;

  div:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }

  .summary-main,
  .summary-additional {
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $color-tint-4;

    .value .summary-number {
      font-size: 3rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 2.5rem;
      }
    }

    .summary-number {
      font-size: 2.2rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
      }
    }
  }

  .summary-additional {
    margin-top: 3.2rem;

    .summary-number {
      font-size: 1.8rem;
    }
  }

  .value,
  .invested,
  .roi,
  .investments,
  .crypto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 2rem;
  }

  .value {
    height: 3.2rem;
    font-weight: 600;
  }

  .invested,
  .roi,
  .investments {
    font-weight: 300;
  }
}

////////////////////////////////////////////////////
// SPINNER AND ERRORS
.form-button-spinner-error,
.summary-button-spinner-error {
  // overflow: hidden;
  height: 6rem;
  text-align: center;
  padding: 0 1.2rem;
  color: $color-error-1;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    height: 4rem;
    width: 4rem;
    stroke: $color-tint-1;
  }

  /// MOBILE BACK TO INPUT BUTTON
  .back-to-input {
    font-weight: 400;
    width: 14rem;

    &:hover {
      box-shadow: none;
      background-color: $color-tint-1;
      color: $color-grey-dark-1;
    }
  }
}

.form-button-spinner-error {
  color: $color-error-2;

  svg {
    stroke: $color-primary;
  }
}

////////////////////////////////////////////////////
/// CALC NAV

.calc-nav {
  margin: 3.2rem 0 3.6rem;
  height: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;

  @media only screen and (max-width: $bp-small) {
    gap: 2.4rem;
  }

  .btn-calc-nav {
    background-color: #fff;
    border: none;
    padding: 0.8rem 1.6rem 0.8rem;
    font-family: $font-family-default;
    font-size: 1.5rem;

    letter-spacing: 0.03rem;
    color: $color-grey-light-2;
    text-transform: lowercase;
    border-radius: $border-radius-default;
    cursor: pointer;
    box-shadow: 0px 0px 31px 2px rgba(161, 161, 161, 0.15);

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 2px 6px 1px rgba(161, 161, 161, 0.3);
    }

    &.btn-calc-nav--active {
      // border: 1px solid $color-grey-light-2;
      box-shadow: inset 0px 3px 5px 1px rgba(161, 161, 161, 0.4);
      padding: 1rem 1.6rem 0.6rem;
    }
  }
}
