.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-nav {
    height: 2.4rem;
  }

  .main-nav-list {
    list-style: none;
    text-transform: uppercase;
    color: $color-grey-light-1;
    font-size: 1.8rem;
    letter-spacing: 0.08rem;

    display: flex;
    justify-content: center;
    gap: 12.8rem;

    @media only screen and (max-width: $bp-small) {
      gap: 0rem;
      margin: 0 auto;
      max-width: 45rem;
      padding: 0 4.8rem;
      font-size: 1.6rem;
      justify-content: space-between;
      text-align: center;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
      font-weight: 400;
      color: inherit;
      // padding-bottom: 4px;

      transition: all 0.3s;
    }

    .main-nav-link:active,
    .main-nav-link:hover {
      color: $color-grey-dark-1;
    }

    .main-nav-link:link.main-nav-link--current:link,
    .main-nav-link:visited.main-nav-link--current:visited {
      color: $color-grey-dark-1;
      border-bottom: 1px solid $color-primary;
      padding-bottom: 4px;
    }
  }
}
