.hero-container {
  // @include viewportCenter;
  // transform: translateY(-2.4rem);
  padding: 0 3.2rem;
}

.main-text {
  max-width: 80rem;
  margin: 0 auto 6.4rem;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4.8rem;

  height: 100%;

  @media only screen and (max-width: $bp-smallest) {
    column-gap: 0;
  }
}

.heading-primary {
  font-size: 6.2rem;
  display: inline-block;

  &:first-of-type {
    grid-column: span 6;

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1/-1;
    }
  }

  &:last-of-type {
    grid-column: 6 / span 5;
    grid-row: 3;
    justify-self: end;

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1/-1;
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 4.8rem;
  }
}

.hero-description {
  color: $color-grey-light-2;
  font-size: 2.4rem;
  text-align: center;
  display: inline-block;
  @media only screen and (max-width: $bp-smallest) {
    font-size: 2rem;
  }

  grid-row: 2;
  grid-column: 3 / span 6;

  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 2.4rem;
    width: 2.4rem;

    position: absolute;
  }

  &::before {
    border-left: 1px solid $color-primary;
    border-bottom: 1px solid $color-primary;

    left: 0;
    top: 0;
    transform: translate(-150%, -50%);
  }

  &::after {
    border-right: 1px solid $color-primary;
    border-top: 1px solid $color-primary;

    right: 0;
    bottom: 0;
    transform: translate(150%, 50%);
  }
}

.hero-btn {
  grid-row: 4;
  grid-column: span 10;
  justify-self: center;

  margin-top: 6.4rem;

  a {
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
      text-decoration: none;
      font-size: 1.8rem;
      color: #fff;
      background-color: $color-primary;
      border-radius: 3px;
    }
    &:active,
    &:hover {
      background-color: $color-tint-2;
    }
  }
}
